<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <% if (username) { %>
      <p>Welcome, <%= username %>!</p>
    <% } else { %>
      <p>Welcome, Guest!</p>
    <% } %>
  </header>
  