body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #418f01;
  color: white;
  padding: 1rem;
}

nav a {
  color: white;
  margin-right: 1.5rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: #ecc103;
}

footer {
  background: #418f01;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

.item {
  cursor: pointer;
  margin-bottom: 1rem;
  line-height: 1.6;
  padding: 3px;
  color: rgba(120, 119, 119, 0.869);
}

.item:hover {
  background-color: #eef1e8;
  width: auto;
  width: 190px;
  border-radius: 5px;
}

.item-actions {
  margin-top: 0.5rem;
}

#sort {
  background-color: #418f01;
  border: none;
  border-radius: 2px;
  padding: 5px;
  width: 195px;
  color: white;
  cursor: pointer;
}
